body {
  background-color: white;
    text-align: center;
  margin-top: 10px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
}

.info{
   font-family: Arial, serif sans;
}
.set1{
   font-family: Arial, serif sans;
}
